body {
  background-color: rgb(34, 47, 126);
}

h1 {
  color: rgba(15, 218, 167, 0.596);
}

hr {
  background-color: red;
  height: 5px;
}

ul {
  color: crimson;
}

p {
  color: red;
}
